<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> <%= pageTitle %> </title>
</head>

<script>
    let y = [], d = [], ex = [];

    function Filter() {
        var table, inputY, filterY, inputD, filterD, inputE, filterE, tr, td, i, index;
        table = document.getElementById("ProjTable");
        inputY = document.getElementById("YearList");
        filterY = inputY.value;
        inputD = document.getElementById("DurationList");
        filterD = inputD.value;
        inputE = document.getElementById("ExecutiveList");
        filterE = inputE.value;
        tr = table.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                index = (td.textContent || td.innerText) - 1;
                if ((y[index] == filterY || filterY == 0) && (Math.floor(d[index]/365) == filterD || filterD == 0) && (ex[index] == filterE || filterE == 0)) { 
                    tr[i].style.display = "";
                } 
                else {
                    tr[i].style.display = "none";
                }
            }       
        }
    }

    function GoToResearchers(r) {
        var el = r.getElementsByTagName("td")[0];
        var index = el.textContent || el.innerText;
        let url = '/dashboard/' + index;
        window.location = url;
    }
</script>



<body>  

    <% for(var i = 0; i < prids.length; i++) { %>
        <script>
            y.push('<%- st_y[i]%>');
            d.push('<%- dur[i]%>');
            ex.push('<%- exec[i]%>')
        </script>
    <% } %>

    <form>  
    <b> Select year </b>  
        <select id="YearList" onchange = " Filter()">
            <option value="0" selected> --Choose year-- </option>
            <% for(var i = 2000; i < 2025; i++) { %>
            <option value='<%= i %>'><%= i %></option>
            <% } %>
        </select>
    </form>
    
    <form>  
    <b> Select duration </b>  
        <select id="DurationList" onchange = " Filter()">
            <option value="0" selected> --Choose duration-- </option>
            <option value="1">1 to 2 years</option>
            <option value="2">2 to 3 years</option>
            <option value="3">3 to 4 years</option>
        </select>
    </form>

    <form>  
        <b> Select executive </b>  
            <select id="ExecutiveList" onchange = " Filter()">
                <option value=0 selected> --Choose executive-- </option>
                <% for(var i = 0; i < eids.length; i++) { %>
                    <option value='<%= eids[i] %>'><%= names[i] %></option>
                    <% } %>
            </select>  
        </form>  
        
        <p></p>

        <div class="container">
            <div class="row" id="row">
                <div class="col-md-12">
                    <div class="card" id="card-container">
                        <div class="card-body" id="card">
                        <% if (prids.length == 0) { %> 
                            <p>No projects found!</p>
                        <% } else { %>
                            <div class="table-responsive">
                                <table class="table" id ="ProjTable">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Project Title</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for (var i = 0; i < prids.length; i++) { %>
                                            <tr onclick="GoToResearchers(this)">
                                                <td><%= prids[i] %></td>
                                                <td><%= pr_titles[i] %></td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button onclick="window.history.back()">Back to Home</button>
</body> 
