<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> <%= pageTitle %> </title>
</head>

<style>
    .modal {
    display: none; /* Hidden by default */
}
</style>

<body>
    <div id="editModal" class="modal">      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Edit Organization</h4>
            </div>
            <div class="modal-body">
                <form id="modal-form">
                    <div>
                        <label for="id"> Organization ID</label><input type="text" name="id" id="id" readonly></br>
                        <label for="abbreviation"> Organization abbreviation</label><input type="text" name="abbreviation" id="abbreviation"></br>
                        <label for="name"> Organization name</label><input type="text" name="name" id="name"></br>
                        <label for="road"> Organization road</label><input type="text" name="road" id="road"></br>
                        <label for="number"> Organization number</label><input type="text" name="number" id="number"></br>
                        <label for="postcode"> Organization postcode</label><input type="text" name="postcode" id="postcode"></br>
                        <label for="city"> Organization city</label><input type="text" name="city" id="city"></br>
                        <label for="category"> Organization category</label>
                        <select name="category" id="category">
                            <option>University</option>
                            <option>Research Center</option>
                            <option>Company</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id = "ActionButton" type="submit" form="modal-form" class="btn btn-success">Update</button></div>
          </div>
      
    </div>
    <h2>Organizations</h2>

    <button onclick="ShowInputFields()">Insert new</button>

    <div class="container">
        <div class="row" id="row">
            <div class="col-md-12">
                <div class="card" id="card-container">
                    <div class="card-body" id="card">
                    <% if (org.length == 0) { %> 
                        <h1 style="margin-top: 5rem;">No organizations found!</h1>
                    <% } else { %>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Abbreviation</th>
                                        <th>Name</th>
                                        <th>Road</th>
                                        <th>Number</th>
                                        <th>Postcode</th>
                                        <th>City</th>
                                        <th>Category</th>
                                        <th>Phone Numbers</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% org.forEach((org, _) => { %>
                                        <tr>
                                            <td><%= org.org_id %></td>
                                            <td><%= org.org_abbreviation %></td>
                                            <td><%= org.org_name %></td>
                                            <td><%= org.ad_road %></td>
                                            <td><%= org.ad_number %></td>
                                            <td><%= org.postcode %></td>
                                            <td><%= org.city %></td>
                                            <td><%= org.category %></td>
                                            <td onclick="GoToPhones(this.parentNode)">Phone Numbers</td>
                                            <td onclick="ShowModal(this.parentNode)">Update</td> 
                                            <form method="POST" action="/organizations/delete/<%= org.org_id %>">
                                                <td> 
                                                    <button style="all: unset; cursor: pointer;" type="submit">Delete</button>
                                                </td>
                                            </form>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function ShowModal(row) {
            document.getElementById("ActionButton").innerHTML="Update";
            var modal = document.getElementById("editModal");
            modal.style.display = "block";
            var el = row.getElementsByTagName("td")[0];
            var index = el.textContent || el.innerText;
            setModalFields(row);
        }

        function setModalFields(row) {
            var index = row.getElementsByTagName("td")[0].textContent;
            document.getElementById("id").value = index;  
            document.getElementById("abbreviation").value = row.getElementsByTagName("td")[1].textContent;
            document.getElementById("name").value = row.getElementsByTagName("td")[2].textContent;
            document.getElementById("road").value = row.getElementsByTagName("td")[3].textContent;
            document.getElementById("number").value = row.getElementsByTagName("td")[4].textContent;
            document.getElementById("postcode").value = row.getElementsByTagName("td")[5].textContent;
            document.getElementById("city").value = row.getElementsByTagName("td")[6].textContent;
            document.getElementById("category").value = row.getElementsByTagName("td")[7].textContent;
            document.getElementById("modal-form").action = "/organizations/update/" + index;
            document.getElementById("modal-form").method = "POST";
        }

        function GoToPhones(r) {
            var el = r.getElementsByTagName("td")[0];
            var index = el.textContent || el.innerText;
            let url = '/organizations/phones/' + index;
            window.location = url;
        }

        function ShowInputFields() {
            document.getElementById("ActionButton").innerHTML="Insert";
            var modal = document.getElementById("editModal");
            modal.style.display = "block"
            document.getElementById("modal-form").action = "/organizations/create";
            document.getElementById("modal-form").method = "POST";
        }
    </script>
    <a href = "/"> Back to Home</a>

</body>
</html>
